@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.App {
    margin: auto;
    width: 60%;
}

h1 {
    font-family: 'Roboto', sans-serif;
    margin: 30px;
    text-align: center;
}

h2 {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px;
}

.container-md {
    margin: 10px;
    padding-bottom: 40px;
}